body {
  margin: 0;
}

.series img{
  width: 50px;
}



.footer {
  position: fixed;
  bottom: 0; 
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.foo-img{
  width: 30px;

}