.caja {
  background-color: rgb(48, 47, 47);
  padding: 2% 0.5%;
  margin: 4%;
}
.footer {
  bottom: 0;
}

.boton {
  background-color: rgb(48, 47, 47);
  padding: 2% 0.5%;
  margin: 4%;
  color: white;
  font-size: 30px;
}

.botonFunci{
  background-color: rgb(48, 47, 47);
  padding: 2% 0.5%;
  margin: 4%;
  color: white;
  font-size: 20px;
  width: 200px;
}


.portada{
  width: 300px;
}

.bodyPortadas {
  padding: 80px;
}